@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");

:root {
  --deep-brown: #5c3a29;
  --dark: #101010;
  --medium-brown: #a0522d;
  --light-brown: #d9bba0;
  --beige: #e4cfcf;
  --white: #f7f0f0;
  --chill-brown: #f3e0cf;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Raleway, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--dark);
  min-width: 80rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header,
.sidebar,
.container,
.log {
  padding: 1.2rem 3rem;
  margin: 1.4rem 0.8rem;
  border-radius: 1rem;
}

header,
.sidebar,
.log {
  background-color: var(--light-brown);
}

header > div:nth-child(2) {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

header > div:nth-child(2) > div:last-child {
  display: flex;
  gap: 0.5rem;
}
header div.divider {
  width: 1px;
  height: 65%;
  background-color: var(--dark);
}

input[type="search"] {
  border-radius: 1.6rem;
  background-image: url("./images/search.svg");
  background-size: 2rem;
  background-position: 0.7rem 0.7rem;
  background-repeat: no-repeat;
  background-color: var(--white);
  width: 3.3rem;
  min-height: 3.3rem;
  height: auto;
  border: none;
  transition: width 0.7s ease-in-out, height 0.7s ease-out;
}

.profile-picture {
  width: 3.6rem;
  border-radius: 50%;
}
input[type="search"]:hover,
input[type="search"]:focus {
  width: 40rem;
  background-position: 0.7rem 0.7rem;
  transition: width 0.7s ease-in-out, height 0.7s ease-in-out;
  padding-left: 3.7rem;
}

input[type="search"]:focus {
  outline: 2px solid var(--dark);
  padding-left: 3.7rem;
}

img[alt="notification"] {
  width: 2.4rem;
}

img[alt="drop-down"] {
  width: 1.5rem;
}
.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo img {
  width: 3.3em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  grid-area: 1/1/-1/2;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--light-brown);
  gap: 2rem;
}

.sidebar input[required] {
  border: none;
  border-bottom: 2px solid var(--dark);
  background-color: var(--light-brown);
}

.sidebar input[required]:focus {
  outline: none;
}

div:has(> input[type="checkbox"]) {
  position: relative;
}

div:has(> input[type="checkbox"]) > label {
  position: relative;
  left: 1.6rem;
}
input[type="checkbox"] {
  position: absolute;
  left: 0px;
  top: 0.4rem;
}
main {
  display: grid;
  grid-template: 13rem 1fr / 30rem 1fr 16rem;
}

.container {
  grid-area: 1/2/-1/-2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.log {
  grid-area: 1/3/2/-1;
  background-color: var(--chill-brown);
  border-radius: 0;
  border-left: 5px solid var(--deep-brown);
  /* font-size: 1.8rem; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
  text-align: right;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

form div.buttons {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

form button {
  border: 2px solid var(--dark);
  border-radius: 6px;
  color: var(--white);
  padding: 0.5rem;
  background-color: var(--deep-brown);
}

.card {
  /* border: 2px solid var(--dark); */
  border-radius: 8px;
  background-color: var(--medium-brown);
  color: var(--white);
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem 1.3rem;
}

.card .title {
  grid-column: 1/2;
}

.card .buttons {
  grid-column: 2/3;
  display: flex;
  gap: 1rem;
}

.card p {
  font-weight: 500;
  grid-column: 1/-1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-auto-rows: 20rem;
  gap: 2.6rem;
}

.cards h2 {
  grid-area: 1/1/2/-1;
}

footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  visibility: hidden;
}

footer a:link,
footer a:visited {
  color: var(--dark);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.title {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

div.buttons img {
  width: 2.4rem;
}
